In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('../deep_learning/all_results.csv')

In [15]:
df['ds'] = pd.to_datetime(df['ds'])

In [16]:
long_format_df = df.melt(id_vars=['ds', 'vintage_file'], 
                         var_name='Model', 
                         value_name='Estimate')

In [17]:
df = long_format_df

In [18]:
df['year_quarter'] = df['ds'].dt.to_period('Q')
df['vintage_quarter'] = df['year_quarter'].copy()

In [21]:
def convert_year_quarter(yq):
    yq_str = str(yq)
    year, quarter = yq_str.split('Q')
    return float(year) + (float(quarter) - 1) / 4


df['year_quarter'] = df['year_quarter'].apply(convert_year_quarter)
df['vintage_quarter'] = df['vintage_quarter'].apply(convert_year_quarter)

In [22]:
df

,ds,vintage_file,Model,Estimate,year_quarter,vintage_quarter
0,2018-04-01,vintage_2018_05,AutoNBEATSx,0.005953,2018.25,2018.25
1,2018-04-01,vintage_2018_06,AutoNBEATSx,0.006638,2018.25,2018.25
2,2018-04-01,vintage_2018_07,AutoNBEATSx,0.005291,2018.25,2018.25
3,2018-07-01,vintage_2018_08,AutoNBEATSx,0.006839,2018.50,2018.50
4,2018-07-01,vintage_2018_09,AutoNBEATSx,0.006695,2018.50,2018.50
...,...,...,...,...,...,...
788,2022-10-01,vintage_2023_01,AutoDilatedRNN,0.006896,2022.75,2022.75
789,2023-01-01,vintage_2023_02,AutoDilatedRNN,0.002744,2023.00,2023.00
790,2023-01-01,vintage_2023_03,AutoDilatedRNN,0.006976,2023.00,2023.00
791,2023-01-01,vintage_2023_04,AutoDilatedRNN,0.004544,2023.00,2023.00
792,2023-04-01,vintage_2023_05,AutoDilatedRNN,0.003781,2023.25,2023.25